@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: rgba(125, 95, 255, 0.83);
    text-align: center;
}

.btn {
    border: 0;
    background: #634ecb;
    color: #ffffff;
    margin: 1.5rem;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.98);
}


