@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.search {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    font-family: inherit;
    background: var(--secondary-color);
    color: #ffffff;
}

.search:focus {
    background-color: var(--primary-color);
    outline: none;
}

.search::placeholder {
    color: #7378c5;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.movie {
    width: 300px;
    background: var(--secondary-color);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
    gap: 0.2rem;
}

.movie-info h3 {
    margin: 0;
    color: #ffffff;
}

.movie-info span {
    display: block;
    font-weight: bold;
    background: var(--primary-color);
    padding: 2px 5px;
    border-radius: 3px;
}

.movie-info span.green {
    color: #2ecc71;
}

.movie-info span.orange {
    color: #ff6a00;
}

.movie-info span.red {
    color: #ff0900;
}

.overview {
    background-color: #ffffff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}